[Unit]
Description=gunicorn instance to server api 
After=network.target

[Service]
User=ntltsrs
Group=ntltsrs
WorkingDirectory=/home/ntltsrs/app/src/
Environment="PATH=/home/ntltsrs/app/venv/bin/"
EnvironmentFile=/home/ntltsrs/.env
ExecStart=/ntltsrs/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target